doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		// CSS
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Marmelad", rel="stylesheet")

		link(href="../_styles.css", rel="stylesheet")
		//	JS
		script(src="_modernizr.custom.js")

	body
		block variables
			- var  current = 'Главная'
			- var  current_submenu = 'Главная - подпункт'

		include ../_menu

		// JS
		script(src="../_classie.js")
		script(src="../_mlpushmenu.js")
		script(src="../_script.js")





