<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <link href="../_styles.css" rel="stylesheet">
    <!--	JS-->
    <script src="_modernizr.custom.js"></script>
  </head>
  <body>
    <!-- Меню-->
    <div class="header__menu">
      <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
      <nav class="menu" id="ml-menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap">
              <ul class="menu__level menu_theme-main" data-menu="main">
                <li class="menu__item"><a class="menu__link active" href="#">Главная</a></li>
                <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Услуги</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Цены</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
              </ul>
        </div>
      </nav>
      <div class="clearfix"></div>
    </div>
    <!-- JS-->
    <script src="../_classie.js"></script>
    <script src="../_mlpushmenu.js"></script>
    <script src="../_script.js"></script>
  </body>
</html>