-
	var listAdvantage = [
		{
			"list_img": "../../images/baby.svg",
			"list_title": "Безопасная територия",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		},
		{
			"list_img": "../../images/month.svg",
			"list_title": "Правильное питание",
			"list_text": "Мы предлагаем различные варианты диетического меню для каждого ребенка индивидуально."
		},
		{
			"list_img": "../../images/cutlery.svg",
			"list_title": "Сказочная атмосфера",
			"list_text": "Мы стараемся сделать каждый день в саду веселым, интересным, по-настоящему сказочным и " +
			"необыкновенным."
		},
		{
			"list_img": "../../images/horse.svg",
			"list_title": "Опытные воспитатели",
			"list_text": "У нас работают только настоящие профессионалы, которым с уверенностью можно доверить " +
			"воспитание детей."
		},
		{
			"list_img": "../../images/heart.svg",
			"list_title": "Здоровые дети",
			"list_text": "Забота о здоровье и укрепление иммунитета — ключевой приоритет в нашем детском саду."
		}
	]



