
<!-- Преимущества-->
<div class="list list_advantage row center-xs start-md between-lg">
  <div class="list__container col-xs-12 col-sm-4 col-lg-20">
    <div class="list__item list__item_advantage">
      <div class="list__content list__content_advantage">
        <div class="list__img list__img_advantage"><img src="../images/baby.svg"/></div>
        <div class="list__title list__title_advantage">Безопасная територия
        </div>
        <div class="list__text list__text_advantage">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-lg-20">
    <div class="list__item list__item_advantage">
      <div class="list__content list__content_advantage">
        <div class="list__img list__img_advantage"><img src="../images/month.svg"/></div>
        <div class="list__title list__title_advantage">Правильное питание
        </div>
        <div class="list__text list__text_advantage">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-lg-20">
    <div class="list__item list__item_advantage">
      <div class="list__content list__content_advantage">
        <div class="list__img list__img_advantage"><img src="../images/cutlery.svg"/></div>
        <div class="list__title list__title_advantage">Сказочная атмосфера
        </div>
        <div class="list__text list__text_advantage">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-lg-20">
    <div class="list__item list__item_advantage">
      <div class="list__content list__content_advantage">
        <div class="list__img list__img_advantage"><img src="../images/horse.svg"/></div>
        <div class="list__title list__title_advantage">Опытные воспитатели
        </div>
        <div class="list__text list__text_advantage">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-lg-20">
    <div class="list__item list__item_advantage">
      <div class="list__content list__content_advantage">
        <div class="list__img list__img_advantage"><img src="../images/heart.svg"/></div>
        <div class="list__title list__title_advantage">Здоровые дети
        </div>
        <div class="list__text list__text_advantage">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
</div>