/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.advantage {
  background: #f67283;
  position: relative;
  padding-bottom: 70px;
  
  &:after {
	content: "";
	position: absolute;
	background: url(../images/flowers-border.svg) repeat-x left bottom / 500px auto;
	height: 202px;
	width: 100%;
	top: -201px;
	left: 0;
	z-index: 1;
  }
}


/* СПИСОК С ПРЕИМУЩЕСТВАМИ */
// ==================================================

/* Основной стиль списка */
// ==================================================
.advantage-list {
  color: white;
  margin-bottom: 175px;
  padding: 0 4%;
}
@media screen and (min-width: 48em) {
  .advantage-list {
	text-align: left;
  }
}
@media screen and (max-width: 64em) {
  .advantage-list {
	padding: 0 2%;
	margin-bottom: 125px;
  }
}
@media screen and (max-width: 48em) {
  .advantage-list {
	margin-bottom: 0;
  }
}

/* Контейнер */
// ==================================================
.advantage-list__container {
  padding: 0 15px;
  flex-grow:1;
  display: flex;
}
@media screen and (max-width: 64em) {
  .advantage-list .advantage-list__container{
	margin-bottom: 70px;
	
	&:last-child {
	  margin-bottom: 90px;
	}
  }
}
@media screen and (max-width: 48em) {
  .advantage-list .advantage-list__container {
  
	&:last-child {
	  margin-bottom: 0;
	}
  }
}


/* Элемент списка */
// ==================================================
.advantage-list__item {
  flex-grow:1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 64em) {
  .advantage-list__item {
	align-items: center;
  }
}

/* Картинка */
// ==================================================
.advantage-list__img {
  height: 85px;
  margin-bottom: 35px;
  overflow: hidden;
  
  & img {
	max-height: 100%;
	max-width: 100%;
  }
}
@media screen and (max-width: 48em) {
  .advantage-list__img {
	justify-content: center;
  }
}

/* Заголовок */
// ==================================================
.advantage-list__title {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 20px;
}

/* Текст */
// ==================================================
.advantage-list__text {
  margin: auto;
}


/* КНОПКА */
// ==================================================
.advantage-btn  {
  text-align: center;
  
  &__wrap {
	display: inline-block;
	position: relative;
 
	&:after,
	&:before {
	  content: '';
	  position: absolute;
	  z-index: 2;
	}
 
	&:after {
	  height: 90px;
	  width: 90px;
	  top: -85px;
	  left: 30px;
	  background: url("../images/owl-1.svg") no-repeat left bottom / auto 90px;
	}
 
	&:before {
	  background: url("../images/star-empty.svg") no-repeat left bottom / auto 30px;
	  height: 40px;
	  width: 40px;
	  bottom: -21px;
	  left: 125px;
	  transform: rotate(100deg);
	}
  }
}
.advantage-btn__container-first {
  
  &:before {
	background: url("../images/star-empty.svg") no-repeat left bottom / auto 20px;
	height: 30px;
	width: 30px;
	right: 35px;
	top: -15px;
	transform: rotate(45deg);
	content: '';
	position: absolute;
	z-index: 2;
  }
}
@media screen and (max-width: 48em) {
  .advantage-btn {
	display: none;
  }
}