include _data


mixin menu(menu_item)
	ul.main-menu
		for item in menu
			if item.submenu
				- var data = ("submenu-" + item.item_data);
			li.main-menu__item
				a.main-menu__link(href =item.link_item,
						class = {active: item.name_item === current}, data-submenu=data)=item.name_item


mixin submenu(submenu_item)
	if (submenu_item.submenu)
		ul.submenu
			for item in submenu_item.submenu
				li.submenu__item
					a.submenu__link(href =item.link_item class = {active: item.name_item === current_submenu})=item.name_item





// Меню
.header__menu
	button.hamburger.hamburger--emphatic
		span.hamburger-box
			span.hamburger-inner

	+menu(menu_item)
	for submenu_item in menu
		+submenu(submenu_item)

	.clearfix





