/* ==========================================================================
   Базовые стили
   ========================================================================== */
.menu {

}
@media screen and (max-width: 64em) {
  .menu {
	top: 0;
	width: 100%;
	margin-left: -20%;
	background: #1c1d22;
		-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	z-index: 1000;
  }
  .menu--open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 100vh;
	position: fixed;
  }
  
}


/* ==========================================================================
   Стили элементов
   ========================================================================== */
@import "element/menu__wrap";
@import "element/menu__level";
@import "element/menu__item";
@import "element/menu__link";
@import "element/menu__breadcrumbs";
@import "element/menu__back";


/* ==========================================================================
   Иконки (made with Icomoon.io)
   ========================================================================== */
.icon {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.icon--arrow-left:before {
  content: '\e901';
}
.icon--menu:before {
  content: '\e903';
}
.icon--cross:before {
  content: '\e117';
}


/* ==========================================================================
   Кнопки
   ========================================================================== */
@import "element/menu__buttons";


/* ==========================================================================
   Модификаторы
   ========================================================================== */
@import "modifier/_theme/main";