.list__img_group {
  min-width: 90px;
  height: 90px;
  text-align: center;
  margin: 25px;
  align-self: flex-start;
  overflow: hidden;
  position: relative;
  display: flex;
}

@media screen and (max-width: 64em) {
  .list__img_group {
    margin-bottom: 35px;
  }
}