.list__img_classes {
  margin-right: 15px;
  width: 340px;
  position: relative;
  
  & img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


@media screen and (max-width: 48em) {
  .list__img_classes {
    margin-bottom: 35px;
    float: none;
    display: block;
    width: 100%;
    height: 170px;
  
    & img {
      position: relative;
    }
  }
}