-
	var listAdvantage = [
		{
			"list_img": "../images/baby.svg",
			"list_title": "Безопасная територия",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		},
		{
			"list_img": "../images/month.svg",
			"list_title": "Правильное питание",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		},
		{
			"list_img": "../images/cutlery.svg",
			"list_title": "Сказочная атмосфера",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		},
		{
			"list_img": "../images/horse.svg",
			"list_title": "Опытные воспитатели",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		},
		{
			"list_img": "../images/heart.svg",
			"list_title": "Здоровые дети",
			"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
			"дорог и оживленных улиц."
		}
	]


-
	var listGroups = [
	{
	"list_img": "../images/bear.svg",
	"list_title": "Группа «Кнопочки»",
	"list__subtitle": "от 2 до 3,5 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	},
	{
	"list_img": "../images/candies.svg",
	"list_title": "Подготовка к школе",
	"list__subtitle": "от 5 до 7,5 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	},
	{
	"list_img": "../images/bottle-drink.svg",
	"list_title": "Группа «Лучики»",
	"list__subtitle": "от 3,5 до 5 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	},
	{
	"list_img": "../images/music-mobile.svg",
	"list_title": "Курсы для школьников",
	"list__subtitle": "от 7 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	},
	{
	"list_img": "../images/cradle.svg",
	"list_title": "Группа «Звездочки»",
	"list__subtitle": "от 5 до 7 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	},
	{
	"list_img": "../images/rainbow.svg",
	"list_title": "Кружки и секции",
	"list__subtitle": "от 1,5 лет",
	"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от " +
	"дорог и оживленных улиц."
	}
	]


-
	var listClasses = [
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Развитие и коррекция речи",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Шахматный клуб",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Обучение чтению и письму",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
				{
			"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Каллиграфия (красивое письмо)",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Квиллинг",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../images/ds_1.jpg",
		"list_title": "Пластилинография",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	}
	]








