include _data

mixin listClasses(item)
	for item in listClasses
		.list__container.col-xs-12.col-sm-6
			.list__item.list__item_classes
				.list__img.list__img_classes
					img(src=item.list_img)
				.list__content.list__content_classes
					.list__title.list__title_classes
						=item.list_title
					.list__text.list__text_classes
						=item.list_text
					.list.list_star.row.start-xs
						for item_2 in item.list_star
							.list__item.list__item_star
								.list__text.list__text_star
									=item_2.list_text


// Кружки и секции
.list.list_classes.row.center-xs
	+listClasses(item)

