include _data

mixin listGroups(item)
	for item in listGroups
		.list__container.col-xs-12.col-sm-4.col-md-6.col-lg-6
			.list__item.list__item_group
				.list__img.list__img_group
					img(src=item.list_img)
				.list__content.list__content_group
					.list__subtitle.list__subtitle_group
						=item.list__subtitle
					.list__title.list__title_group
						=item.list_title
					.list__text.list__text_group
						=item.list_text

// Группы
.list.list_group.row.center-xs.start-md.between-lg
	+listGroups(item)


