include _data

mixin listAdvantage(item)
	for item in listAdvantage
		.list__container.col-xs-12.col-sm-4.col-lg-20
			.list__item.list__item_advantage
				.list__content.list__content_advantage
					.list__img.list__img_advantage
						img(src=item.list_img)
					.list__title.list__title_advantage
						=item.list_title
					.list__text.list__text_advantage
						=item.list_text

mixin listGroups(item)
	for item in listGroups
		.list__container.col-xs-12.col-sm-4.col-md-6.col-lg-6
			.list__item.list__item_group
				.list__img.list__img_group
					img(src=item.list_img)
				.list__content.list__content_group
					.list__subtitle.list__subtitle_group
						=item.list__subtitle
					.list__title.list__title_group
						=item.list_title
					.list__text.list__text_group
						=item.list_text

mixin listClasses(item)
	for item in listClasses
		.list__container.col-xs-12.col-sm-6
			.list__item.list__item_classes
				.list__img.list__img_classes
					img(src=item.list_img)
				.list__content.list__content_classes
					.list__title.list__title_classes
						=item.list_title
					.list__text.list__text_classes
						=item.list_text
					.list.list_star.row.start-xs
						for item_2 in item.list_star
							.list__item.list__item_star
								.list__text.list__text_star
									=item_2.list_text



// Преимущества
.list.list_advantage.row.center-xs.start-md.between-lg
	+listAdvantage(item)

// Группы
.list.list_group.row.center-xs.start-md.between-lg
	+listGroups(item)

// Кружки и секции
.list.list_classes.row.center-xs
	+listClasses(item)

