/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.schedule {
  background: #fad916;
  position: relative;
  padding-bottom: 70px;
  
  &:after,
  &:before {
	content: "";
	position: absolute;
	background: url(../images/wave-2.png) repeat-x left bottom / 380px auto;
	height: 45px;
	width: 100%;
	left: 0;
	z-index: 1;
  }
  &:after {
	top: -45px;
  }
  
  &:before {
	bottom: -45px;
	transform: rotate(180deg);
  }
  
  & .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	padding-bottom: 0;
	
	&:after,
	&:before {
	  content: "";
	  position: absolute;
	  display: block;
	  z-index: 100;
	}
	&:after {
	  background: url("../images/owl-11.svg") no-repeat top center / 100%;
	  bottom: -108px;
	  left: 0;
	  width: 102px;
	  height: 138px;
	}
	&:before {
	  background: url("../images/owl-3.svg") no-repeat top center / 100%;
	  top: -75px;
	  right: 0;
	  width: 102px;
	  height: 122px;
	}
	
  }
}

// Заголовок h3
.schedule__section-subtitle {
  font-size: 25px;
}

@media only screen and (max-width: 64em) {
  .schedule {
	
	& .container {
	  flex-direction: column;
	}
  }
}


/* РАСПОРЯДОК ДНЯ */
// ==================================================
.schedule-day {
  margin: 0 30px 30px 0;
  max-width: 215px;
  
  & .schedule__section-subtitle {
	height: 66px;
	padding-top: 22px;
  }
  
  & .schedule-day__list {
	font-size: 14px;
	
	& .schedule-day__item {
	  display: flex;
	  margin-bottom: 5px;
	  
	  & .schedule-day__title {
		margin-right: 20px;
		font-weight: bold;
	  }
	}
  }
}
@media only screen and (max-width: 64em) {
  .schedule-day {
	max-width: 100%;
	text-align: center;
	margin: 0 0 60px;
	
	& .schedule-day__list {
	  display: inline-block;
	}
  }
 
}


/* РАСПИСАНИЕ ЗАНЯТИЙ */
// ==================================================
.timetable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  font-size: 14px;
}

/* Табы */
.timetable {
  width: 100%;
  flex: 1;
  
  /* Заголовок */
  & .schedule__section-subtitle {
	 display: inline-block;
   }
  
  /* Блок с вкладками */
  & .r-tabs-nav {
	margin: 0;
	padding: 0;
	position: relative;
	border: 2px solid #70bfe1;
	border-radius: 100px;
 
	/* Вкладка */
	& .r-tabs-tab {
	  position: relative;
	  display: inline-block;
	  margin: 0;
	  width: 129px;
	  list-style: none;
	  z-index: 5;
	}
 
	/* Вкладка - Disabled */
	& .r-tabs-state-disabled {
	  opacity: 0.5;
	}
 
	/* Сссылка */
	& .r-tabs-anchor {
	  display: block;
	  padding: 10px 30px;
	  text-decoration: none;
	  font-size: 14px;
	  font-weight: bold;
	  text-align: center;
	  transition: color 0.6s ease;
	}
 
	/* Активная ссылка */
	& .r-tabs-state-active .r-tabs-anchor {
	  color: white;
	  text-shadow: none;
	  transition: color 0.6s ease;
	}
 
	/* Стиль слайд-кнопки для вкладки */
	& .menu__lines {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 129px;
	  height: 100%;
	  background-color: #70bfe1;
	  border-radius: 50px;
	  pointer-events: none;
	  	-webkit-transition: -webkit-transform 0.5s 0.2s;
	  transition: transform 0.5s 0.2s;
		-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
		-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
	  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
	  z-index: 1;
	}
 
	/* анимация вначале перехода по вкладке */
	& .menu__lines::before {
	  	-webkit-transform: scale3d(1, 0, 1);
	  transform: scale3d(1, 0, 1);
	 	 -webkit-transition: -webkit-transform 0.2s ease;
	  transition: transform 0.2s ease;
	}
 
	/* анимация в конце перехода по вкладке */
	& .menu__lines::after {
	  	-webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	  	-webkit-transition: -webkit-transform 0.2s ease 0.7s;
	  transition: transform 0.2s ease 0.7s;
	}
 
	/* Направление для смены слайд-кнопки */
	& .r-tabs-tab:active:not(.r-tabs-state-active) ~ .menu__lines::before,
	& .r-tabs-tab:active:not(.r-tabs-state-active) ~ .menu__lines::after {
	 	 -webkit-transition: -webkit-transform 0s;
	  transition: transform 0s;
	}
	& .r-tabs-tab:active:not(.r-tabs-state-active) ~ .menu__lines::before {
	  	-webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
	& .r-tabs-tab:active:not(.r-tabs-state-active) ~ .menu__lines::after {
	  	-webkit-transform: scale3d(1, 0, 1);
	  transform: scale3d(1, 0, 1);
	}
	& .r-tabs-tab:nth-child(1).r-tabs-state-active ~ .menu__lines {
	  	-webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	& .r-tabs-tab:nth-child(2).r-tabs-state-active ~ .menu__lines {
	 	 -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(104%, 0, 0);
	}
	& .r-tabs-tab:nth-child(3).r-tabs-state-active ~ .menu__lines {
	  	-webkit-transform: translate3d(200%, 0, 0);
	  transform: translate3d(208%, 0, 0);
	}
  }
  
  &:after {
	content: '';
	width: 100%;
	order: 0;
  }
}

/* Содержимое вкладок */
.timetable-content {
  margin-top: 30px;
  width: 100%;
  order: 1;
  
  /* Панель содержимого вкладки */
  & .r-tabs-panel {
	padding: 15px;
	display: none;
	opacity: 0;
	transition: opacity .7s ease;
  }
  
  /* Панель содержимого активной вкладки */
  & .r-tabs-panel.r-tabs-state-active {
	display: block;
	opacity: 1;
	transition: opacity .7s ease;
  }
  
  /* Список элементов внутри контента */
  & .timetable-content__list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
  }
  
  /* Элемент списка внутри контента */
  & .timetable-content__item {
	flex: 1;
	margin-right: 20px;
	
	/* отменяем отступ для послднего элемента */
	&:last-child {
	  margin-right: 0;
	}
 
	/* Текст */
	& .timetable-content__text {
	  margin-bottom: 30px;
	}
  
	/* Заголовок */
	& .timetable-content__title {
	  padding: 15px 25px;
	  text-align: center;
	  background: white;
	  border-radius: 50px;
	}
	
	/* Время */
	& .timetable-content__time {
	  font-weight: bold;
	  margin-bottom: 10px;
	}
 
	/* Предмет */
	& .timetable-content__lesson {
	  -webkit-margin-start: 0;
	  margin: 0;
	  line-height: 20px;
	}
  }
}

/* Дополнительный текст во вкладке */
.timetable-tabs__text {
  font-size: 10px;
  display: block;
  line-height: 10px;
}


/* Аккордион */

.timetable {
  
  /* Вкладка */
  & .r-tabs-accordion-title {
	display: none;
  }
  
  /* Ссылки в аккордионе */
  & .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #70bfe1;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
  }
  
  /* Активная ссылка в аккордионе */
  & .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	color: white;
	text-shadow: none;
	background-color: #70bfe1;
  }
  
  /* Disabled кнопка в аккордионе */
  & .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
  }
  
  
}
@media only screen and (max-width: 64em) {
  .timetable {
  
	/* Блок с вкладками */
	& .r-tabs-nav {
	  display: none;
	}
 
	/* Содержимое вкладок */
	& .r-tabs-panel {
	  margin-bottom: 5px;
	  
	  & .timetable-content__list {
		flex-direction: column;
	  }
	  
	  & .timetable-content__title {
		width: 200px;
		margin: 0 auto;
	  }
	  
	  & .timetable-content__text {
		text-align: center;
	  }
	  
	  &.r-tabs-state-active {
		border: 2px solid #70bfe1;
		border-radius: 0 0 4px 4px;
	  }
	}
 
	/* Вкладка */
	& .r-tabs-accordion-title {
	  display: block;
	  position: relative;
	  
	  /* Все вкладки, кроме активной */
	  &:not(.r-tabs-state-active) {
		margin-bottom: 5px;
	 
		/* Все ссылки внутри вкладки, кроме активной вкладки */
		& .r-tabs-anchor {
		  border-radius: 4px;
		}
	  }
	  
	  /* Иконка для вкладки */
	  &:after {
		position: absolute;
		top: 14px;
		right: 25px;
		content: "\f078"; // Если вкладка не активна
		font-family: FontAwesome;
		color: white;
		font-size: 14px;
		display: block;
		width: 5px;
		height: 5px;
		cursor: pointer;
		opacity: .3;
	  }
	  &.r-tabs-state-active:after {
		content: "\f077"; // Если вкладка активна
	  }
	}
 
	/* Заголовок */
	& .schedule__section-subtitle {
	  display: block;
	  text-align: center;
	  width: 100%;
	}
	
	/* Дополнительный эмент для слайд-кнопки */
	& .menu__lines {
	  display: none;
	}
  }
  
}





