.menu__level {
  margin: 0;
  padding: 0;
  list-style-type: none;
  visibility: hidden;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100% + 50px);
  height: 100%;
}

.menu__level:focus {
  outline: none;
}

.menu__level--current {
  visibility: visible;
}

@media screen and (max-width: 40em) {
  .menu__level {
	position: absolute;
	top: 0;
	left: 0;
  }
}