include ../../helpers/variables

doctype html
html
	head
		include ../head/head

	body
		.wrapper
			// Header
			include ../header/header

			// Main
			.main
				block variables
				block content

			// Footer
			include ../footer/footer

			script(src="js/scripts.min.js")