extends ../common.blocks/layout/layout_index


block variables
	- var  current = 'Главная'

block content
	// Преимущества
	section.advantage
		.container
			include ../common.blocks/advantage/_advantage

	//	Группы
	section.groups
		.container
			include ../common.blocks/groups/_groups

	//	Кружки и секции
	section.classes
		.container
			include ../common.blocks/classes/_classes

	//	Расписание и распорядок дня
	section.schedule
		.container
			include ../common.blocks/schedule/_schedule



