<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="author" href="humans.txt">
    <!-- -------------------->
    <title>Частный детский сад "Дивный сад"</title>
    <!--todo добавить фавикон-->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/styles.min.css" rel="stylesheet">
    <!-- JS--><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <!-- Header-->
      <header class="header">
        <div class="container">
          <!-- Топ бар-->
          <div class="header__top-bar">
            <!-- Меню-->
            <div class="header__menu">
              <button class="hamburger hamburger--emphatic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                          <ul class="main-menu">
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Главная</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">О компании</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Услуги</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Цены</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Контакты</a></li>
                          </ul>
              <div class="clearfix"></div>
            </div>
            <div class="header__contacts">
              <div class="header__phone">+7 926 055 39 25</div>
              <button class="button button_theme-primary button_size-s waves-effect">Заказать звонок</button>
            </div>
          </div>
          <!-- Логотип и заголовок-->
          <div class="header__container">
            <div class="header__logo"><img src="../images/logo.png" alt="Частный детский сад - Дивный сад"></div>
            <h1 class="page-title">
              В нашем детском саду вашего ребенка ждет увлекательный мир детства, в котором он сможет проявить
              способности и расскрыть свои таланты.
            </h1>
          </div>
        </div>
      </header>
      <!-- Main-->
      <div class="main">
        <!-- Преимущества-->
        <section class="advantage">
          <div class="container">
            <!-- Преимущества-->
            <div class="advantage-list row center-xs start-md between-lg">
                          <div class="advantage-list__container col-xs-12 col-sm-4 col-lg-20">
                            <div class="advantage-list__item">
                              <div class="advantage-list__img"><img src="../../images/baby.svg"></div>
                              <div class="advantage-list__title">Безопасная територия
                              </div>
                              <div class="advantage-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                              </div>
                            </div>
                          </div>
                          <div class="advantage-list__container col-xs-12 col-sm-4 col-lg-20">
                            <div class="advantage-list__item">
                              <div class="advantage-list__img"><img src="../../images/month.svg"></div>
                              <div class="advantage-list__title">Правильное питание
                              </div>
                              <div class="advantage-list__text">Мы предлагаем различные варианты диетического меню для каждого ребенка индивидуально.
                              </div>
                            </div>
                          </div>
                          <div class="advantage-list__container col-xs-12 col-sm-4 col-lg-20">
                            <div class="advantage-list__item">
                              <div class="advantage-list__img"><img src="../../images/cutlery.svg"></div>
                              <div class="advantage-list__title">Сказочная атмосфера
                              </div>
                              <div class="advantage-list__text">Мы стараемся сделать каждый день в саду веселым, интересным, по-настоящему сказочным и необыкновенным.
                              </div>
                            </div>
                          </div>
                          <div class="advantage-list__container col-xs-12 col-sm-4 col-lg-20">
                            <div class="advantage-list__item">
                              <div class="advantage-list__img"><img src="../../images/horse.svg"></div>
                              <div class="advantage-list__title">Опытные воспитатели
                              </div>
                              <div class="advantage-list__text">У нас работают только настоящие профессионалы, которым с уверенностью можно доверить воспитание детей.
                              </div>
                            </div>
                          </div>
                          <div class="advantage-list__container col-xs-12 col-sm-4 col-lg-20">
                            <div class="advantage-list__item">
                              <div class="advantage-list__img"><img src="../../images/heart.svg"></div>
                              <div class="advantage-list__title">Здоровые дети
                              </div>
                              <div class="advantage-list__text">Забота о здоровье и укрепление иммунитета — ключевой приоритет в нашем детском саду.
                              </div>
                            </div>
                          </div>
            </div>
            <!-- Записаться на бесплатное посещение-->
            <button class="button button_theme-secondary button_size-l waves-effect">Записаться на бесплатное посещение</button>
          </div>
        </section>
        <!--	Группы-->
        <section class="groups">
          <div class="container">
            <p class="section-description">
              В нашем детском саду есть группы подготовки к школе, в которых ребенок сможет своевременно
              познакомиться с первыми школьными предметами
            </p>
            <!-- Группы-->
            <div class="group-list row center-xs start-md between-lg">
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/bear.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 2 до 3,5 лет
                                </div>
                                <div class="group-list__title">Группа «Кнопочки»
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/candies.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 5 до 7,5 лет
                                </div>
                                <div class="group-list__title">Подготовка к школе
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/bottle-drink.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 3,5 до 5 лет
                                </div>
                                <div class="group-list__title">Группа «Лучики»
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/music-mobile.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 7 лет
                                </div>
                                <div class="group-list__title">Курсы для школьников
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/cradle.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 5 до 7 лет
                                </div>
                                <div class="group-list__title">Группа «Звездочки»
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="group-list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
                            <div class="group-list__item">
                              <div class="group-list__img"><img src="../../images/rainbow.svg"></div>
                              <div class="group-list__content">
                                <div class="group-list__subtitle">от 1,5 лет
                                </div>
                                <div class="group-list__title">Кружки и секции
                                </div>
                                <div class="group-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
          </div>
        </section>
        <!--	Кружки и секции-->
        <section class="classes">
          <div class="container">
            <h2 class="section-title section-title_light">Кружки и секции</h2>
            <!-- Кружки и секции-->
            <div class="classes-list row center-xs">
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Развитие и коррекция речи
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Шахматный клуб
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Обучение чтению и письму
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Каллиграфия (красивое письмо)
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Квиллинг
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="classes-list__container col-xs-12 col-sm-6">
                            <div class="classes-list__item">
                              <div class="classes-list__img"><img src="../../images/ds_1.jpg"></div>
                              <div class="classes-list__content">
                                <div class="classes-list__title">Пластилинография
                                </div>
                                <div class="classes-list__text">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                                </div>
                                <div class="classes-info row start-xs">
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">3 года
                                    </div>
                                  </div>
                                  <div class="classes-info__item">
                                    <div class="classes-info__text">15 мест
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Footer-->
      <footer>footer jhfjgfkg</footer>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
      <script src="js/scripts.min.js"></script>
    </div>
  </body>
</html>