<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <link href="../_styles.css" rel="stylesheet">
    <script src="../_script.js"></script>
    <!--	Для тестирования!!!!-->
    <style>
      body {background: #f67283; font: 14px/20px "Marmelad", san-serif;}
      
    </style>
  </head>
  <body>
    <!-- Кружки и секции-->
    <div class="list list_classes row center-xs">
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Развитие и коррекция речи
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Шахматный клуб
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Обучение чтению и письму
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Каллиграфия (красивое письмо)
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Квиллинг
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__container col-xs-12 col-sm-6">
            <div class="list__item list__item_classes">
              <div class="list__img list__img_classes"><img src="../../images/ds_1.jpg"></div>
              <div class="list__content list__content_classes">
                <div class="list__title list__title_classes">Пластилинография
                </div>
                <div class="list__text list__text_classes">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.
                </div>
                <div class="list list_star row start-xs">
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">3 года
                    </div>
                  </div>
                  <div class="list__item list__item_star">
                    <div class="list__text list__text_star">15 мест
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- JS-->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
  </body>
</html>