doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		// CSS
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Marmelad", rel="stylesheet")

		link(href="../_styles.css", rel="stylesheet")

		script(src="../_script.js")

		//	Для тестирования!!!!
		style.
			body {background: #f67283; font: 14px/20px "Marmelad", san-serif;}

	body
		include ../../classes/_list_classes

		// JS
		script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
		integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
		crossorigin="anonymous")




