header.header
	.container
		// Топ бар
		.header__top-bar
			include ../menu/_menu
			.header__contacts
				.header__phone +7 926 055 39 25
				button.button.button_theme-primary.button_size-s.waves-effect Заказать звонок
		// Логотип и заголовок
		.header__container
			.header__logo
				img(src="../images/logo.png", alt="Частный детский сад - Дивный сад")
			h1.page-title
				| В нашем детском саду вашего ребенка ждет увлекательный мир детства, в котором он сможет проявить
				|способности и расскрыть свои таланты.

