.header {
  background: url("../images/header.jpg") no-repeat center /cover;
  width: 100%;
  
  & .container {
	padding: 0 20px;
  }
}

/* Топ бар */
// ==================================================
.header__top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  background: white;
  max-width: 1170px;
  margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 64em) {
  .header__top-bar {
    padding: 5px 15px 5px 5px;
  }
}


/* Контейнер для основного контента */
// ==================================================
.header__container {
  padding: 180px 70px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 64em) {
  .header__container {
    padding: 90px 10% 200px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 48em) {
  .header__container {
    padding: 90px 20px 200px;
  }
}

/* Логотип */
// ==================================================
.header__logo {
  width: 220px;
  height: 220px;
  flex: none;
  margin-right: 6%;
  
  & img {
	height: auto;
	width: 100%;
  }
}

/* Меню */
// ==================================================
.header__menu { }


/* Контакты */
// ==================================================
.header__contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 200;
}

/* Телефон */
// ==================================================
.header__phone {
  font-size: 18px;
  margin-right: 30px;
}
@media screen and (max-width: 75em) {
  .header__phone {
    margin-right: 0;
  }
}

/* Кнопка обратного звонка */
// ==================================================
@media screen and (max-width: 75em) {
  .button.header__button-call-back {
      display: none;
    }
}

