meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="author", href="humans.txt")

// ------------------
title Частный детский сад "Дивныей сад"

//todo добавить фавикон
link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")

// CSS
link(href="https://fonts.googleapis.com/css?family=Marmelad", rel="stylesheet")
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
link(href="../../css/styles.css", rel="stylesheet")
// JS
<!--[if lt IE 9]>
script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->

