
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="author" href="humans.txt"/>
<!-- -------------------->
<title>Тестовый сайт</title>
<!--todo добавить фавикон-->
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<!-- CSS-->
<!-- Подключение шрифта Roboto-->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
<!-- Подключение шрифта Open Sans-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
<!-- Подключение шрифта с иконками-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<!-- Стили всего проекта-->
<link href="../../css/styles.css" rel="stylesheet"/>
<!-- JS--><!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>