/* Helper classes */

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}


// Оформление ссылок
.menu {
	// Стили для всех ссылок в меню
	a {
	  text-decoration: none;
	}
}

// Стили для ссылок в пунктах меню
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  position: relative;
  display: block;
  padding: 1em 2.5em 1em 1.5em;
  color: #000;
  	-webkit-transition: color 0.1s;
  transition: color 0.1s;

  &:hover,
  &:focus,
  &[data-submenu]:hover::after,
  &[data-submenu]:focus::after {
	color: #f0e020;
  }
}
// Активный пункт подменю
.menu__link--current {
  color: #f0e020;
}
// Иконка для активного пункта подменю
//.menu__link--current::before {
//  content: '\00B7';
//  font-size: 1.5em;
//  line-height: 0;
//  position: absolute;
//  top: 50%;
//  left: 0.5em;
//  height: 4px;
//  color: #5c5edc;
//}


// Фигура в конце ссылки, если есть подменю
//.menu__link[data-submenu]::after {
//  content: '\e904';
//  font-family: 'feather';
//  position: absolute;
//  right: 0;
//  padding: 0.25em 1.25em;
//  color: #2a2b30;
//}



@media screen and (max-width: 64em) {
  .menu__link {
	color: #bdbdbd;
	
	&:hover,
	&:focus,
	&[data-submenu]:hover::after,
	&[data-submenu]:focus::after {
	  color: #5c5edc;
	}
  }
  .menu__link[data-submenu]::after {
	content: '\e904';
	font-family: 'feather';
	position: absolute;
	right: 0;
	padding: 0.25em 1.25em;
	color: #2a2b30;
  }
}