include _data

mixin listGroups(item)
	for item in listGroups
		.group-list__container.col-xs-12.col-sm-4.col-md-6.col-lg-6
			.group-list__item
				.group-list__img
					img(src=item.list_img)
				.group-list__content
					.group-list__subtitle
						=item.list__subtitle
					.group-list__title
						=item.list_title
					.group-list__text
						=item.list_text


p.section-description
	| В нашем детском саду есть группы подготовки к школе, в которых ребенок сможет своевременно
	| познакомиться с первыми школьными предметами

// Узнать стоимость посещения
.group-btn
	.group-btn__wrap
		.group-btn__container-first
			button.button.button_theme-primary.button_size-l.waves-effect Узнать стоимость посещения

// Группы
.group-list.row.center-xs.start-md.between-lg
	+listGroups(item)




