/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.children-menu {
  background: url("../images/bg-menu.png") no-repeat center 90px / 1210px;
  position: relative;
  padding-bottom: 125px;
}

/* Заголовок */
// ==================================================
.section-title_children-menu {
  color: #333;
  font-weight: bold;
  font-size: 65px;
}

/* Основной текст раздела */
// ==================================================
.section-description_children-menu {
  max-width: 985px;
  font-size: 31px;
  line-height: 47px;
  position: relative;
  margin: 160px auto 195px;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 63px;
    width: 100%;
    right: 0;
    z-index: 1;
  }
  &:before {
    background: url(../images/wave-dashed.png) no-repeat top / 100%;
    top: -107px;
  }
  
  &:after {
    background: url(../images/wave-dashed_2.png) no-repeat top / 100%;
    bottom: -115px;
  }
}
@media (max-width: 1024px) {
  .section-description_children-menu {
    font-size: 24px;
    line-height: 36px;
    margin: 140px auto;
  
    &:before {
      top: -86px;
    }
  
    &:after {
      bottom: -104px;
    }
  }
}

/* Навигация по разделу */
// ==================================================
.children-nav__wrap {
  margin-bottom: 75px;
  
  & .children-nav {
    display: flex;
    justify-content: center;
    
    & .children-nav__item {
      margin: 5px;
      box-sizing: content-box;
      position: relative;
  
	  & .children-nav__link {
		display: block;
		border: 3px solid transparent;
		background: transparent;
		font-size: 18px;
		padding: 23px 40px;
		line-height: 0;
		text-transform: none;
		word-wrap: normal;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.76);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: .3s ease-out;
		transition: .6s ease-out;
		z-index: 1;
	
		&.active {
		  border-radius: 50px;
		  outline: 0;
		  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
		  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
		  background-color: #c9f442;
		  border-color: #3B3C3A;
		  text-decoration: none;
		  transition: background-color .6s ease-in-out;
		  
		  &:before {
			content: none;
		  }
		  
		  &:after {
			background: url(../images/owl-15.svg) no-repeat top center / 50px auto;
			height: 100px;
			width: 100px;
			left: 0;
			top: -68px;
		  }
		}
	 
		&:before,
		&:after {
		  content: "";
		  position: absolute;
		}
		&:before {
		  left: -8px;
		  top: 8px;
		  height: 30px;
		  width: 1px;
		  background: #dad9d9;
		}
	 
		&:first-child {
		  content: none;
		}
	  }
    }
	
  }
}
.children-nav .children-nav__item {
  &:first-child .children-nav__link {
    &:before {
      content: none;
    }
  }
}
.children-nav .children-nav__item.active + .children-nav__item >.children-nav__link:before {
  content: none;
}
@media screen and (max-width: 910px) {
  .children-nav {
    flex-wrap: wrap;
    justify-content: space-around;
  
    &::before,
    &::after {
      content: '';
      width: 100%;
      order: 1;
    }
  
    & .children-nav__item {
    
      &:nth-child(n + 3) {
        order: 1;
      }
    }
  }
}
@media screen and (max-width: 525px) {
  .children-nav__wrap {
	
	& .children-nav {
	  flex-direction: column;
	  text-align: center;
	  
	  & .children-nav__item {
		
		& .children-nav__link:before,
		& .children-nav__link:after {
		  content: none;
		}
	  }
	}
  }
}

/* Дополнительный заголовок */
// ==================================================
.children-menu__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Картинка блюда */
// ==================================================
.children-menu__img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  overflow: hidden;
  position: relative;
  margin: 30px 0;
  border: 4px solid rgba(239, 237, 237, 0.98);
  display: inline-block;
  
  & img {
    position: absolute;
  }
}

/* Список блюд */
// ==================================================
.children-menu__wrap {
  margin-bottom: 30px;
}
.children-menu__item {
  margin-bottom: 12px;
}