
<!-- Группы-->
<div class="list list_group row center-xs start-md between-lg">
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/bear.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 2 до 3,5 лет
        </div>
        <div class="list__title list__title_group">Группа «Кнопочки»
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/candies.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 5 до 7,5 лет
        </div>
        <div class="list__title list__title_group">Подготовка к школе
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/bottle-drink.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 3,5 до 5 лет
        </div>
        <div class="list__title list__title_group">Группа «Лучики»
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/music-mobile.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 7 лет
        </div>
        <div class="list__title list__title_group">Курсы для школьников
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/cradle.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 5 до 7 лет
        </div>
        <div class="list__title list__title_group">Группа «Звездочки»
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
  <div class="list__container col-xs-12 col-sm-4 col-md-6 col-lg-6">
    <div class="list__item list__item_group">
      <div class="list__img list__img_group"><img src="../../images/rainbow.svg"/></div>
      <div class="list__content list__content_group">
        <div class="list__subtitle list__subtitle_group">от 1,5 лет
        </div>
        <div class="list__title list__title_group">Кружки и секции
        </div>
        <div class="list__text list__text_group">Детский сад располагается в отдельном здании, на закрытой и охраняемой территории, вдали от дорог и оживленных улиц.
        </div>
      </div>
    </div>
  </div>
</div>