h1 {
  font-size: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  line-height: 40px;
}
.header__heading {
  color: rgba(255, 255, 255, 0.94);
  text-shadow: 4px 2px 3px rgba(150, 150, 150, 0.68);
}
