/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.news {
  background: #70BEE2;
  position: relative;
  
  &:after {
	content: "";
	position: absolute;
	background: url(../images/flowers-border-second.svg)  repeat-x left bottom / 500px auto;
	height: 202px;
	width: 100%;
	top: -201px;
	left: 0;
	z-index: 1;
  }
}

.newslist-wrap {

  & .newslist-container:nth-child(4n) {
	position: relative;
	
	&:before {
	  content: "";
	  background: url(../images/owl-3.svg) no-repeat top / 80%;
	  top: -82px;
	  right: 40px;
	  width: 102px;
	  height: 122px;
	  position: absolute;
	  z-index: 1;
	}
  }
}

.newslist-container {
  padding: 10px;
  
  & .newslist-block {
	background: white;
	border-radius: 10px;
	height: 100%;
	overflow: hidden;
	
	& .newslist-img {
	  height: 160px;
	  width: 100%;
	  position: relative;
	  display: inline-block;
	  
	}
	
	& .newslist-title {
	  padding: 10px 20px;
	  line-height: 25px;
	}
	
	& .newslist-content {
	  padding: 10px 20px 0;
	}
	
	& .row {
	  padding: 10px 25px;
	  
	  & .newslist-more {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		font-weight: bold;
	  }
	  
	  & .newslist-date {
		color: #333;
		text-transform: uppercase;
	  }
	}
  }
  
}

/* Стили для детальной страницы (popup) */
// ==================================================
.fancybox-slide__news {
  padding: 0 20px;
  
  & .news-detail {
	border-radius: 30px;
	padding: 30px;
	overflow: hidden;
	margin: 30px;
	position: relative;
	background: white;
	color: #333;
	line-height: 2;
	z-index: 3;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	max-width: 1350px;
	transition: all .5s ease-in-out;
  }
}
.newslist-more__link {
  position: relative;
  cursor: pointer;
  background: #fad918;
  border-width: 0;
  text-decoration: none;
  padding: 7px 45px 7px 20px;
  line-height: 1.5;
  border-radius: 20px;
  font-size: 80%;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  display: inline-block;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  &:after {
	content: "\f10b";
	font-family: "Ionicons";
	line-height: 1;
	position: absolute;
	right: 20px;
	bottom: 8px;
	display: inline-block;
	padding-left: 5px;
	font-size: 16px;
  }
  
  &:hover,
  &:active,
  &:focus {
	outline: 0;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
	text-decoration: none;
  }
}
.morphing-btn-wrap {
  display: inline-block;
  position: relative;
  text-align: center;
}
.morphing-btn {
  -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  transition: color 0.3s 0.2s, width 0.2s 0s;
  white-space: nowrap;
  box-sizing: border-box;
  
  &:hover,
  &:active,
  &:focus {
	outline: none;
  }
}
.morphing-btn_circle {
  color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  width: 35.6px !important;
  
  /* Override inline style rule */
  -webkit-transition: color 0.2s 0s, width .3s 0.2s;
  -moz-transition: color 0.2s 0s, width .3s 0.2s;
  -o-transition: color 0.2s 0s, width .3s 0.2s;
  transition: color 0.2s 0s, width .3s 0.2s;
}
.morphing-btn-clone {
  outline: none;
  position: fixed;
  background: #fad918 url(../images/floral_bg.png) repeat 0 0/350px auto;
  border-radius: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.morphing-btn-clone_visible {
  display: block;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}
.fancybox__news .fancybox-bg {
  background: #fad918 url(../images/floral_bg.png) repeat 0 0/350px auto;
  opacity: 1;
}
.fancybox__news .fancybox-toolbar {
  top: 20px;
  right: 40px;
}
.fancybox__news .fancybox-button--close {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.fancybox__news .fancybox-button--close::after,
.fancybox__news .fancybox-button--close::before {
  height: 1.55px;
  width: 22px;
  left: calc(50% - 11px);
}
.fancybox__news .fancybox-button--close:hover {
  background: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 500px) {
  .fancybox-slide__news {
	
	& .news-detail {
	  margin: 30px auto;
	  padding: 20px;
	}
  }
}


/* Слайдер с картинками */
// ==================================================
.news-detail__fotogallery {
  width: 100%;
}
.news-detail__title {
  text-align: center;
  margin-bottom: 10px;
}
.news-detail__text {
  margin: 10px 0 35px;
  
  & ul li {
	list-style-type: disc;
	-webkit-margin-start: 30px;
	padding-left: 5px;
  }
}
.news-detail-date {
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 5px;
  white-space: nowrap;
  text-align: center;
}
.news-detail__foto-wrap {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.news-detail__foto-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}


/* Видео */
// ==================================================
.news-detail__video-item {
  
  & video {
	width: 100%;
  }
}