-
	var menu =[
		{
			"name_item": "Главная",
			"item_data": 1,
			"link_item": "#"
		},
		{
			"name_item": "О компании",
			"item_data": 2,
			"link_item": "#"
		},
		{
			"name_item": "Услуги",
			"item_data": 3,
			"link_item": "#"
		},
		{
			"name_item": "Цены",
			"item_data": 4,
			"link_item": "#"
		},
		{
			"name_item": "Контакты",
			"item_data": 5,
			"link_item": "#"
		}
	]