mixin navLink(link, name)
	li.main-menu__item
		a.main-menu__link(
		href = link
		class = {active: name===current})=name


// Меню
.header__menu
	.main-menu__wrap
		button.hamburger.hamburger--emphatic
			span.hamburger-box
				span.hamburger-inner
		ul.main-menu
			+navLink ('/index.html', 'О детском саде')
			+navLink ('#', 'Группы')
			+navLink ('#', 'Кружки и секции')
			+navLink ('#', 'Расписание')
			+navLink ('#', 'Контакты')

	.clearfix





