// Картинка мероприятия
.event__img
	img(src="../images/event.jpg")

// Заголовок раздела
h2.section-title
	| Интерактивное кукольное представление «Широкая масленица»

.event-container.row.col-xs-12.col-md-6
	// Блок со счетчиком
	.event__info
		.event__date 10 января 2017 в 10:15
		.event__counter
		.event__text Самороха Ваня решил поскорее аспрощаться с зимой. Вместе со зрителями он отмечает каждый день
			| масленичной недели с играми, песнями, неожиданными встречами.


	// Блок с формой
	form.event__form
		input.input.event__input(placeholder="Имя")

