/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.event {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  color: white;
  
  &:after {
	content: "";
	position: absolute;
	background: url(../images/wave.png) repeat-x left bottom / 380px auto;
	height: 45px;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
  }
  
/* Заголовок */
  .section-title {
	text-transform: uppercase;
	max-width: 830px;
	text-align: center;
	margin: 0 auto;
  }
}

/* Картинка мероприятия */
.event__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  
  & img {
	width: 100%;
	height: auto;
	max-height: 100%;
	opacity: 0.7;
  }
}

/* Контейнер для основного содержимого */
.event-container {
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

/* Информация по событию */
.event__info {
  flex: 1;
  box-sizing: content-box;
}

/* Форма регистрации */
.event__form {
  padding: 0 50px;
  flex: 1;
  box-sizing: content-box;
  text-align: center;
  
  & .event__input {
	width: 300px;
  }
}
