/* СТИЛИ ДЛЯ ВСЕГО БЛОКА */
// ==================================================
.event {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  color: white;
  
  /* Заголовок */
  .section-title {
	text-transform: uppercase;
	max-width: 830px;
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
  }
}

/* Картинка мероприятия */
.event__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  
  & img {
	opacity: 0.7;
	position: absolute;
  }
}

/* Контейнер для основного содержимого */
.event-container {
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  padding: 50px 0 0;
}

/* Информация по событию */
.event__info {
  flex: 1;
  box-sizing: content-box;
  padding-right: 4%;
  
  .event__date {
	font-size: 22px;
	padding: 30px 0;
  }
  
  .event__text {
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 45px;
  }
}
@media screen and (max-width: 555px) {
  text-align: center;
}


/* Счетчик обратного отсчета */
.event__counter {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

  .event__counter-wrap {
	border-radius: 10px;
	background: white;
	overflow: hidden;
	text-align: center;
	color: #333;
	flex: 1;
	margin: 0 20px 20px 0;
	min-width: 114px;
	max-width: 130px;
  }

  & .event__counter-wrap:last-child {
	margin-right: 0;
  }
  
  .event__counter-number {
	font-size: 50px;
	font-weight: bold;
	padding: 35px 30px;
  }
  
  .event__counter-text {
	background: #FAD917;
	text-transform: uppercase;
	padding: 20px;
	width: 100%;
  }
}

@media screen and (max-width: 555px) {
  .event__counter {
  	flex-wrap: wrap;
	justify-content: space-around;
  
	&::before,
	&::after {
	  content: '';
	  width: 100%;
	  order: 1;
	}
 
	& .event__counter-wrap:nth-child(2n) {
	  margin-right: 0;
	}
	
	.event__counter-wrap {
	  
	  &:nth-child(n + 3) {
		order: 1;
	  }
	}
	
  }
}

/* Форма регистрации */
.event__form {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  
  & .event__input {
	width: 100%;
  }
  
  & .button_theme-form {
	width: 100%;
  }
  
  & .event__form-name {
	position: relative;
	
	&:before {
	  content: "";
	  position: absolute;
	  background: url(../images/owl-2.svg) no-repeat top / 100%;
	  height: 145px;
	  width: 140px;
	  top: -134px;
	  right: 0;
	  z-index: 1;
	}
  }
  
}

@media (max-width: 1024px) {
  .event__form {
	
	& .event__form-name {
	  
	  &:before {
		content: none;
	  }
	}
  }
}





