-
	var listClasses = [
	{
		"list_img": "http://www.radionetplus.ru/uploads/posts/2013-05/1369460621_panda-26.jpg",
		"list_title": "Развитие и коррекция речи",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../../images/ds_1.jpg",
		"list_title": "Шахматный клуб",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../../images/ds_1.jpg",
		"list_title": "Обучение чтению и письму",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
				{
			"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../../images/ds_1.jpg",
		"list_title": "Каллиграфия (красивое письмо)",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../../images/ds_1.jpg",
		"list_title": "Квиллинг",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	},
	{
		"list_img": "../../images/ds_1.jpg",
		"list_title": "Пластилинография",
		"list_text": "Детский сад располагается в отдельном здании, на закрытой и охраняемой территории.",
		"list_star": [
			{
				"list_text": "3 года"
			},
			{
				"list_text": "15 мест"
			}
		]
	}
	]








