include _data

mixin listClasses(item)
	for item in listClasses
		.classes-list__container.col-xs-12.col-sm-6
			.classes-list__item
				.classes-list__img
					img(src=item.list_img)
				.classes-list__content
					.classes-list__title
						=item.list_title
					.classes-list__text
						=item.list_text
					.classes-info.row.start-xs
						for item_2 in item.list_star
							.classes-info__item
								.classes-info__text
									=item_2.list_text


// Кружки и секции
.classes-list.row.center-xs
	+listClasses(item)

